.center{
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 10px;
  width: 100%;
}

.card:hover{
  background-color: rgba(128, 128, 128, 0.1);
}

.bg-grey{
  background-color: grey;
}

.btn-blue{
  background-color: #01359a;
}

.text-yellow{

  color: #ffff00;
}

.mat-icon {
  vertical-align: middle;
}

h2{
  font-size: 28px;
  font-weight: bold;
}
